body {
    background-color: black;
    height: 100%;
    padding-top: 40px;
}
ul#flex-container {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

ul li {
    flex-grow: 1;
    width: 250px;
    padding-top: 45px;
    color: #FFF;
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
}

ul li img {
    width: 100%;
    }

ul li a span {
    position: absolute;
    color: #FFF;
    bottom: 7px;
    left: 15px;
    font-size: .6em;
    font-family: 'Nanum Gothic', sans-serif;
    }    

ul li:first-child{ }
ul li:nth-child(2) { }
ul li:nth-child(3) {}
ul li:nth-child(4) { }
ul li:nth-child(5) { }
ul li:last-child{ }